---
import { formatDate } from "@utils/utils";
import type { SanityPost } from "@lib/sanity";

interface Props {
  posts?: SanityPost[];
}

const { posts = [] } = Astro.props;
---

<div class="grid gap-6">
  {posts.length > 0 && posts.map((post) => (
    <a
      href={`/blog/${post.slug}`}
      class="block rounded-xl transition hover:scale-105 focus-visible:ring-2"
      data-astro-prefetch
    >
      {post.cardImage && (
        <img
          src={post.cardImage}
          alt={post.cardImageAlt || post.title}
          class="aspect-video w-full rounded-xl object-cover"
          draggable={false}
          width={540}
          height={300}
        />
      )}
      <h3 class="mt-2 text-lg font-semibold">{post.title}</h3>
      <p class="text-sm text-neutral-500">
        {formatDate(new Date(post.pubDate))}
      </p>
    </a>
  ))}
</div>
